html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: 100vh;

  /* 🔥 FORÇA ocupar toda tela mesmo com pouco conteúdo */
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  transition: 0.3s;
}
/* ================= DARK MODE ================= */
.app.dark {
  background-image: url("./assets/bg-dark.png");

  background-color: #000000;
}

/* ================= LIGHT MODE ================= */
.app.light {
  background-image: url("./assets/bg-light.png");

  background-color: #ffffff;
}

/* HERO */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;

  margin-top: 0px; 
}

/* IMAGENS */
.hero-img {
  width: 500px;  
  height: auto;

  object-fit: contain;
}